*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    margin: 0;
}

.header {
    background-color: hsl(50, 28%, 66%);
    padding: 5px 10px 20px 10px;
    margin-bottom: 2rem;
    text-align: center;
    outline: solid;
    font-size: 28px;
}

.header a {
    text-decoration: none;
    background-color: hsl(49, 17%, 52%);
    color: black;
    padding: 0.5rem;
    border-radius: 1rem;
    outline: solid;
    margin: 0.5rem;
    box-shadow: 10px 10px 20px black;
    font-weight: bold;
    font-size: 18px;
}

.header a:hover {
    background-color: hsl(48, 12%, 68%);
}

.recipe-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-head {
    font-size: 40px;
    margin: 1rem 3rem;
    text-decoration: underline;
}

.recipe-list ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-list li {
    list-style: none;
    margin-bottom: 3rem;
}

.recipe-list li a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 1rem;
    outline: solid;
    font-weight: bold;
    box-shadow: 5px 5px 10px black;
}

.recipe-list li a:hover {
    background-color: hsl(50, 20%, 68%);
}

.img {
    width: 500px;
    margin: 0 0 0 2rem;
    outline: solid;
    border-radius: 1rem;
    box-shadow: 10px 10px 20px black;
}

.img.gif {
    width: 750px;
    align-content: center;
    margin-bottom: 2rem;
    margin-left: 10rem;
}

.container {
    display: flex;
}

.desc,
.ingred,
.steps {
    margin: 2rem;
    outline: solid;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 20px black;
    flex: 1;
}

.desc h2,
.ingred h2,
.steps h2 {
    font-size: 36px;
}

.desc p {
    font-size: 20px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.container .desc {
    margin: 0 2rem;
}

.main-container {
    align-items: center;
}

.ingred ul li {
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.steps ol li {
    font-size: 20px;
    margin-bottom: 1.5rem;
}